body {
	margin: 20px 20px 40px;
  	background: #2c3e50;
  	color: #fff;
}

#header, #footer {
	margin-bottom: 10px;
	text-align: center;
}

textarea, #preview {
	margin: 0;
 	width: 45%;
  	height: 480px;
  	float: left;
  	margin-left: 3%;
	border: 1px solid;
	overflow: auto;
}

#preview {
	background: #fff;
  	color: #000;
}

#footer {
	padding: 20px;
	clear: both;
}

@media only screen and (max-device-width: 768px) {
	#header, #footer {
		font-size: 72px;
	}

	textarea, #preview {
		width: 95%;
		margin-bottom: 5%;
		height: 800px;
		clear: both;
	}
}